*{
    margin: 0px;
    padding: 0px;
}

.box {
    font-size: 4rem;
    background-color: blue;
    color:white;
    
}

header > div {
    margin-bottom: 10px;
    text-align: center;
}

.boxes{
    height: calc(100vh);
    position: relative;
    display: grid;
    justify-content: flex-start;
    gap: 1rem 5rem;
    /* grid-template-columns: 3fr repeat(2, 1fr); */
    grid-template-columns: 1fr 3fr 1fr; 

    grid-template-rows: 6fr 2fr; 
}

.boxes{
    height: calc(100vh);
    position: relative;
    display: grid;
    justify-content: flex-start;
    gap: 1rem 5rem;
    /* grid-template-columns: 3fr repeat(2, 1fr); */
    grid-template-columns: 1fr 3fr 1fr; 

    grid-template-rows: 5fr 2fr 1fr; 
}


footer > div{
    margin-top: 10px;
    text-align: center;
}